body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.move-icon {
  height: 60px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
